/**
 * Platforms
 * =========
 *
 *
 */


$color-link = #E45757;

.Website {

	border-top: 0;

	&__Icon {

	}

	&__Content {
		lost-center: 980px;
	}

	&__Link {
		color: $color-link;
		text-decoration: none;
		display: block;

		margin-top: 10px;

		& + & {
			margin-top: 0;
		}
	}
}
