/**
 * Media
 * =====
 *
 *
 */

$color-link = #E45757;


.Media {

	border-left: 0;

	&__Icon {

	}

	&__Content {
		lost-center: 980px;
	}

	&__Link {
		color: $color-link;
		text-decoration: none;
	}
}
