/**
 * Info
 * ====
 *
 *
 */

.Info {
	margin: 0 auto;
	width: 80%;
	background-color: #FFF;
	padding: 0.5rem 1rem;

	&__Header {
		text-align: center;
	}

	&__Center {
		// TODO:
		// - define dyanamic sizes for different resolutions
		lost-center: 980px;
	}

	&__Description {
		lost-column: 3/4;
	}

	&__Figure {
		lost-column: 1/4;
		text-align: center;
	}

	&__Link {
		// flex-shrink: 0;
		// flex-basis: auto;
		display: block;
	}

	&__Image {
		max-width: 100%;
		border: 1px solid black;
	}
}
