/**
 * Tile
 * ====
 *
 *
 */


$panelColor = #737E92;
$color-white = #FFF;


.Panel {
	height: 100%;
	color: $color-white;
	background-color: #443D6C;
  border: 1px solid $color-white;

	// Link
	&__Trigger {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 1;
		text-decoration: none;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	// position elements in the center afterwards

	&--active {
		border: 1px solid $color-white !important;
	}

	&--active &__Trigger {

	}

	&__Box {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 1;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	// really just a wrapper for fading + containing content & close
	&__View {
		opacity: 0;
		position: relative;
	}

	&--active &__View {
		opacity: 1;
	}


	&__Content {
		// solution:
		// - compute the new size and adjust the fullscreen defined grid container solution !
	}

	// predifinition for the icon
	&__Icon {

	}

	&__Title {
		color: white;

		text-align: center;
		margin: 0;
		padding: 20px;
		width: 100%;
		font-size: 1.8em;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
	}

	// close link
	&__Close {
		position: absolute;
		width: 50px;
		height: 50px;
		top: -50px;
		right: -200px;

		color: $color-white;
	  font-size: 25px;
	  border-radius: 50%;
	  border: 2px solid $color-white;
	  text-align: center;
	  line-height: 40px; // or 2.5rem ?
	  text-decoration: none;
	}
}
