/**
 * FAQ
 * ===
 *
 *
 */


.FAQ {

	&__Title {

	}

	&__List {

	}

	&__Entry {
		list-style: none;
	}

	&__Question {
		font-style: italic;
		line-height: 1.5;
		position: relative;

		&:hover .FAQ__Anchor {
			opacity: 0.9;
		}
	}

	&__Anchor {
		position: absolute;
		left: -30px;
		opacity: 0;
		text-decoration: none;
		color: black;
		transition: opacity 500ms ease-in-out;
	}

	&__Answer {

	}
}
