/**
 * Grid
 * ====
 *
 *
 */


.Grid {
	position: relative;
	transition: none;

	// animate tiles
	& * {
		transition: all 700ms ease-in-out;
	}

	// &__Tile {
	//
	// }
	//
	// &__Center {
	//
	// }
}
